body {
  background-color: rgb(231, 240, 240);
}

.container{
  border: 2px solid red;
	max-width: 960;
	margin: 100px auto;
	padding: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar{
  background-color: blueviolet;
}

.reviews{
  background-color: rgb(216, 211, 211);
  grid-template-columns: 1fr 1fr;
}

.visitors{
  background-color: aqua;
  /* border: 2px solid yellow; */
}
.section{
  border: 2px solid rgb(100, 131, 54);
}


.section:nth-of-type(1){
  grid-row: 1/3;
}

.section:nth-of-type(3){
  grid-column: 2/3;
}